/* Index */
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url("/img/Fondo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

header {
    background-color: rgb(254, 210, 210);
    height: 130px;
}

.contenedor {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.logo-style {
    height: 90px;
}

h1 {
    text-align: center;
    color: #000;
}

#inicio {
    height: 30px;
    float: right;
    margin-top: 20px;
    padding: 5px;
}

#inicio:hover{
    background-color: rgb(254, 176, 176);
    border-radius: 15px;
   
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(254, 176, 176);
    color: #000;
}

nav li {
    flex: 1 0 auto;
    text-align: center;
}

nav li a {
    font-size: 18px;
}

nav ul a {
    display: block;
    text-decoration: none;
    color:#000;
    margin-left: 110px;
    margin-right: 110px;
    padding: 5px;
}

nav ul a:hover {
    background-color:rgb(215, 189, 226) ;
    color: #000;
    padding: 5px;
}

main { 
    width: 1280px;
    margin: 20px auto;
}

h2 {
    text-align: center;
}

.centro {
    display: flex;
    justify-content: center;
}

.info{
    width: 850px;
    float: left;
    padding: 10px;
    text-align: justify;
    margin-right: 20px;
}

.info h3 {
    text-align: center;
}

.aside{
    width: 430px;
    float: right;
    margin-top: 20px;
}

.aside h4 {
    text-align: center;
}

.calendario {
    background-color: rgb(235, 222, 240);
    padding-bottom: 10px;
}

iframe {
    margin: 0;
}

.eventos {
    text-align: justify;
    font-size: 14px;
    margin-right: 20px;
    margin-top: 20px;
}

h3 {
    text-align: center;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 16px;
    border: 2px solid rgb(254, 176, 176);
	background: rgb(254, 210, 210);
	border-radius: 6px;  
	box-shadow: inset 5px 5px 5px rgb(254, 210, 210), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
	text-shadow: 1px 1px 1px rgba(255,255,255,.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding: 10px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    position: relative;
    top: 5px;
}

.mapa {
    text-align: center;
}

footer {
    margin: 0px;
    background-color: rgb(254, 210, 210);
    color: #000;
    display: flex;
    justify-content: space-between;
}

.datos {
    margin-top: 10px;
    margin-left: 110px;
}

.datos p{
    margin: 1px;
}

.datos h3{
    margin-top: 10px;
    text-align: left;
}

.links {
    display: flex;
        flex-direction: column;
        justify-content: center;
}

.links a {
    text-decoration: none;
    color: #000;
    padding: 6px;
}

.links a:hover {
    background-color:rgb(215, 189, 226);
    color: #000;
    padding: 6px;
}

.red {
    width: 300px;
    margin-right: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.red h4 {
    font-weight: bold;
}

.red img {
    width: 25px;
    margin: 10px;
}

/* Inscribite */

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
}

.box {
    width: 1100px;
    margin: auto;
    display:flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.card_box {
    margin: 10px;
    perspective: 700;
    -webkit-perspective: 700;
}

.card {
    margin: 20px;
    width: 300px;
    height: 320px;
    position: relative;
    background-color: rgb(254, 176, 176);
    transform-style: preserve-3d;
    transition: 0.7s ease;
}

.frente, .dorso {
    width: 90%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.dorso {
    background-color: rgb(254, 176, 176);
    transform: rotateY(180deg);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.card_box:hover .card{
    transform: rotateY(180deg);
}

.boton {
    color: black;
    font-size: 25px;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(215, 189, 226);
    border: 3px solid;
    border-color: rgb(125, 60, 152);
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    margin: 40px;
}

.boton:hover {
    transition: 0.5s;
    background-color: rgb(254, 210, 210);
    border: 3px solid;
    border-color: rgb(94, 13, 6);
}

.boton a{
    text-decoration: none;
    color:#000;
    font-weight: bold;
}

.boton a:hover{
    color:#000;
}

.grupo {
    display: flex;
    justify-content: center;
}

/*Adiestradores*/

#adiestradores {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 620px 620px;
    justify-content: space-between;
}

.biselado {
    padding: 20px;
	border: 2px solid rgb(254, 176, 176);
	background: rgb(254, 210, 210);
	border-radius: 6px;  
	box-shadow: inset 5px 5px 5px rgb(254, 210, 210), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
	text-shadow: 1px 1px 1px rgba(255,255,255,.9);
}

.biselado .encabezado {
    height: 90px;
}
.biselado h3 {
    text-align: left;
}

.biselado p{
    margin-bottom: 0;
}

.orden {
    display: grid;
    grid-template-columns: 280px 280px;
    grid-template-rows: 50px 50px;    
}

.orden .barrios {
    display: inline-flex;
}

.orden .barrios p {
    margin-right: 10px;
}

.orden .puntaje {
    display: inline-flex;
    align-items: end;
    margin-bottom: 15px;
}

.orden .puntaje img {
    background-size: cover;
    margin-left: 10px;
}

.btn-abrir-modal1, .btn-abrir-modal2, .btn-abrir-modal3, .btn-abrir-modal4, .btn-abrir-modal5, .btn-abrir-modal6, .btn-abrir-modal7, .btn-abrir-modal8, .btn-abrir-modal9, .btn-abrir-modal10, .btn-abrir-modal11, .btn-abrir-modal12, .btn-abrir-modal13, .btn-abrir-modal14,.btn-abrir-modal15,.btn-abrir-modal16,.btn-abrir-modal17,.btn-abrir-modal18,.btn-abrir-modal19,.btn-abrir-modal20,.btn-abrir-modal21,.btn-abrir-modal22,.btn-abrir-modal23,.btn-abrir-modal24,.btn-abrir-modal25,.btn-abrir-modal26,.btn-abrir-modal27,.btn-abrir-modal28,.btn-abrir-modal29,.btn-abrir-modal30 {
    width: 150px;
    height: 30px;
    margin: 10px 75px;
    font-weight: bold;
    background-color: rgb(215, 189, 226);
    border: 3px solid;
    border-color: rgb(125, 60, 152);
    border-radius: 10px;
    cursor: pointer;
}

.modal1 , .modal2, .modal3, .modal4, .modal5, .modal6, .modal7, .modal8, .modal9, .modal10, .modal11, .modal12, .modal13, .modal14, .modal15, .modal16, .modal17, .modal18, .modal19, .modal20, .modal21, .modal22, .modal23, .modal24, .modal25, .modal26, .modal27, .modal28, .modal29, .modal30 {
    background-color: rgb(254, 210, 210);
    border: 3px solid;
    border-color: rgb(94, 13, 6);
    border-radius: 10px;
}

.huellas {
    list-style-image: url("../img/huella.png");
    padding: 5px;
}

.btn-cerrar-modal1,.btn-cerrar-modal2,.btn-cerrar-modal3,.btn-cerrar-modal4,.btn-cerrar-modal5,.btn-cerrar-modal6,.btn-cerrar-modal7,.btn-cerrar-modal8,.btn-cerrar-modal9,.btn-cerrar-modal10,.btn-cerrar-modal11,.btn-cerrar-modal12,.btn-cerrar-modal13,.btn-cerrar-modal14,.btn-cerrar-modal15,.btn-cerrar-modal16,.btn-cerrar-modal17,.btn-cerrar-modal18,.btn-cerrar-modal19,.btn-cerrar-modal20,.btn-cerrar-modal21,.btn-cerrar-modal22,.btn-cerrar-modal23,.btn-cerrar-modal24,.btn-cerrar-modal25,.btn-cerrar-modal26,.btn-cerrar-modal27,.btn-cerrar-modal28,.btn-cerrar-modal29,.btn-cerrar-modal30 {
    width: 150px;
    height: 30px;
    display: block;
    margin: auto;
    font-weight: bold;
    background-color: rgb(215, 189, 226);
    border: 3px solid;
    border-color: rgb(125, 60, 152);
    border-radius: 10px;
    cursor: pointer;
}

.registro {
    color: black;
    font-size: 25px;
    width: 280px;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(215, 189, 226);
    border: 3px solid;
    border-color: rgb(125, 60, 152);
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    margin: 20px auto;
}

.registro:hover {
    transition: 0.5s;
    background-color: rgb(254, 210, 210);
    border: 3px solid;
    border-color: rgb(94, 13, 6);
}

.registro a{
    text-decoration: none;
    color:#000;
    font-weight: bold;
}

.registro a:hover{
    color:#000;
}

/*Contacto*/

#contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 600px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

.linea {
    display: flex;
    padding: 10px;
}

label {
    width: 200px;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}

input {
    width: 300px;
    border-radius: 5px;
}

textarea {
    background-color: #FEF9E7;
}

.button {
    width: 100px;
    height: 50px;
    background-color: rgb(125, 60, 152);
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
}

.button:hover {
    background-color: rgb(254, 176, 176);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

/*Formulario de alumnos*/

.recuadro{
   border-style: solid;
   border-width: medium;
   border-color:  rgb(254, 176, 176);
}
legend {
    border-color: #000;
    font-size: xx-large;
    color: rgb(125, 60, 152);
    text-align: center;
    font-weight: bold;
}
.dato_u,.dato2{
    text-align: center;
    color:#000;
    font-weight: bold;
 }

.alumnos_adiest{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 700px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
} 

input#genero_u {
    width: 10px;
}

input#genero_a {
    width: 10px;
}

input#ciudad_a {
    width: 10px;
    
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 40px;
    gap: 10px;

  }
.grid-item {
    color: rgb(38, 0, 255);
    font-weight: bold;
}

/*Log - In*/

.ingresar2{
    width: 150px;
    height: 30px;
    margin: 10px 75px;
    font-weight: bold;
    background-color: rgb(215, 189, 226);
    border: 3px solid;
    border-color: rgb(125, 60, 152);
    border-radius:10px;
    cursor: pointer;
}

.grid-container2 {
    display:grid;
    grid-template-columns: 400px 400px ;
    column-gap: 100px;
    width: 800px;
    margin-left: 200px;
    margin-bottom: 150px;
}

.grid-item2,.cuadricula{
height: 200px;
}

